@font-face {
  font-family: 'TalkativeAngel';
  src: url('TalkativeAngel.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

body {
  font-family: 'TalkativeAngel', Fallback, sans-serif;
  margin: 0;
  padding: 0;
}
.my-experience{
  height: 10em;
  font-size: 2em;
  padding: 0 20% 0 20%;
}
.me{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #BBF8BF;

}
.h1{
  width:6em;
  height: 4em;
  left: calc(50% - 3em);
  top: 1em;
  margin-top: 0;
}
.talkative{
  display: none;
  position: relative;
  width: 2em;
  height: 4em;
  background-color: green;
}
.tree{
  position: relative;
  width: 2em;
  height: 4em;
  /*background-color: green;*/
}
.letter{
  height: 1em;
  width: 2em;
  margin: 0;
}
.T{
  margin: -5px 0 0 0;
}

.hire-me{
  position: relative;
  top: 10em;
  height: 35em;
  background-color: #f8f9fb;
  padding: 1em;
}