<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TalkativeTree</title>
    <link rel="stylesheet" href="/css/normalize.css" media="screen" />
    <link rel="stylesheet" href="/css/application.css" media="screen" />
    <link rel="stylesheet" href=<%="/css/"+"#{@stylesheet}" + ".css"%> media="screen" />

  </head>

  <body>
    <nav class="navBar">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="about"><li>About</li></a>
        <a href="portfolio"><li>Portfolio</li></a>
      </ul>
    </nav>
    <%= yield %>

  </body>
</html>