if defined?(Sinatra)
  project_path = Sinatra::Application.root
  environment = :development
else
  css_dir = File.join('public', 'css')
  relative_assets = true
  environment = :production
end

sass_dir = File.join('views', 'sass')
imaged_dir = File.join('public', 'images')
http_path = "/"
http_image_path = "/images"
http_stylesheets_path = "/css"