@import 'mixins';
@import 'colors';

@font-face {
  font-family: 'TalkativeAngel';
  src: url('TalkativeAngel.ttf')  format('truetype') /* Safari, Android, iOS */
}

.navBar{
  position: relative;
  @include navBar;
  height: 4em;
  background-color: $medium-leaves;
  // background-color: rgba(0, 0 ,0, 0.7);
  ul {

    a {
      width: 4em;
      height: 2em;
      li {
        @include vertical-align(0%, 90%);
        color: #ededed;
        width: 4em;
        height: 2em;
      }
    }
  }
}

body{
  overflow: hidden;
}