@import 'mixins';
@import 'colors';

@font-face {
  font-family: 'TalkativeAngel';
  src: url('TalkativeAngel.ttf')  format('truetype') /* Safari, Android, iOS */
}

.navBar{
  position: relative;
  @include navBar;
  height: 2em;
  background-color: $dark-leaves;
  // background-color: rgba(0, 0 ,0, 0.7);
  font-family: 'Lato', sans-serif;
  ul {

    a {
      width: 4em;
      height: 1em;
      li {
        @include vertical-align(100%, 50%);
        color: #ededed;
        width: 4em;
        height: 1em;
      }
    }
  }
}

body{
  overflow: hidden;
}