@import "compass/css3";
@import 'mixins';
@import 'colors';

.months{
  float: left;
  width: 5%;
  min-height: 12em;
  padding-right:0.5em;
  & div{
    font-size: 0.8em;
    text-align: right;
  }
}
.life{
  min-width:234em;
  min-height: 36em;
  background-color: white;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em 1em 0 1em;
}
.year{
  position: relative;
  width: 3em;
  height: 36em;
  float: left;
  background-color: white;
}
.year:nth-child(2n+0){
  top: 1.5em;
}
.month-container{
  height: 3em;
  width: 3em;
}
.month{
  width: 100%;
  height:0;
  padding-bottom: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: white;
  @include box-shadow(inset 0px 0px 2px 0px $black)
}
.nothing{
  background-color: $black;
  @include box-shadow(inset 0px 0px 2px 0px #000000)
}
.content{
  background-color: $medium-leaves;
}
.event{
  background-color: $dark-leaves;

}